# ------------------------------------------------------
# Caddyfile log fields
# ------------------------------------------------------
# duration
# level
# logger
# msg
# request
# size
# status
# ts
# user_id
#
# request.headers
# request.headers.Accept
# request.headers.Accept-Encoding
# request.headers.Connection
# request.headers.User-Agent
# request.host
# request.method
# request.proto
# request.remote_ip
# request.remote_port
# request.uri
#
# resp_headers
# resp_headers.Content-Length
# resp_headers.Content-Type
# resp_headers.Date
# resp_headers.Server
# ------------------------------------------------------
# Settings:
#  log-format : format string using above fields
#  colorize   : Color line based on level value
#               debug=BLUE, warn=YELLOW, error=RED
#  non-access : display non http-access log lines 
# ------------------------------------------------------

log-format = '{ts} | {level:8} | {duration:>5}ms | {status:>3} | {request.method:6} | {request.uri}'
colorize = True 
non-access = False
